<template>
  <div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl">
    <div class="flex-shrink-0">
      <img
        class="h-12 w-12"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Trello-logo-blue.svg/1280px-Trello-logo-blue.svg.png"
        alt="ChitChat Logo"
      />
    </div>
    <div class="ml-6 pt-1">
      <h4 class="text-xl text-gray-900 leading-tight">{{ text }}</h4>
      <p class="text-base text-gray-600 leading-normal">You have a new message!</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      text: "Hello World"
    };
  },
  mounted() {
    setTimeout(() => {
      this.text = "Hello World to Trello Clone";
    }, 3000);
  }
};
</script>

